<a href="https://colab.research.google.com/github/SyedAhammed009/DS/blob/main/GuviDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Data Types:

1. String (str)
2. Integer(int)
3. Decimal(float)
4. Boolean(True/False)
5. None(null)

In [ ]:
type('a'),type(10),type(5.5),type(True)

(str, int, float, bool)

# Data Types and Data Structures(Tuple)

In [ ]:
Name = "Syed" # Name-->Variable  = --> assigning operator  Syed --> Data
# Variable created should have a meaningful aspect of the data
print(Name)

Syed

In [ ]:
Name = input() # default output will be a string
print(Name)

Syed
Syed

In [ ]:
Age = int(input()) # an function can be applied to change the output data type
print(Age)

25
25

In [ ]:
Name = input('enter your name: ') # Label can be applied to get specific or required input from the user
Age = int(input('enter your age: '))
Location = input('enter your city: ')
print(Name)
print(Age)
print(Location)

enter your name: Syed
enter your age: 25
enter your city: Chennai
Syed
25
Chennai

In [ ]:
person1='Syed',25,'Chennai'
print(person1)

('Syed', 25, 'Chennai')

Data Structures:

1. List[a,b]
2. Tuple(a,b)
3. Set{a,b}
4. Dictionary{a:b}

In [ ]:
person1

('Syed', 25, 'Chennai')

In [ ]:
type(person1)

tuple

In [ ]:
dir(tuple) # To find the built-in functions inside the tuple
# The functions with underscore are fixed and cannot be changed, function without underscore can be used to perform operations

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Functions available in Tuple Data Structure:**

Count - Counting the no.of elements in a dataset

Index - To check the position of the element in the dataset

In [ ]:
person1.count('Chennai')

1

In [ ]:
person1.index('Chennai') # Index is used to find the position of a specific or required element
# If we have two or more same elements in a data set, mentioning the element will give us the first occurence as the output value

2

In [ ]:
person1.index('Syed') # Index will always start at 0

0

In [ ]:
person1[2] # If we have the index number we can access the element in the data set

'Chennai'

In [ ]:
person2 = 'Sheik',25,'Chennai',600075,'Chennai'
person2

('Sheik', 25, 'Chennai', 600075, 'Chennai')

In [ ]:
person2.count('Chennai')

2

In [ ]:
person2.index('Chennai')

2

In [ ]:
person2[4]

'Chennai'

# Data Structures (List, Set, Dictionary)

Difference between Data Structures:

1. Tuple: ()
*   It can hold any data type
*   It is an ordered data structure (It contains "Index" function)
*   Tuples are immutable(Unchangable)
*   Eg: Dataset of Unique Values such as

2. List:[]
*   It can hold any data type
*   It is an ordered data structure (It contains "Index" function)
*   Lists are mutable(Changable)
*   Eg: Dataset of Common Values such as Name, Address, etc.,

3. Set: {}
*   It can hold any data type
*   It is unordered data structure
*   Sets are mutable(Changable)
*   Eg: Dataset of unique values such as Pan Number, Aadhar Number, etc.,

4. Dictionary: {key : value}
*   It can hold any data type
*   It is unordered data structure
*   Dictionary is mutable
*   Eg: {key : value} pair => {'name' : 'syed'} {'age' : 25}

In [ ]:
dir(list) # Shows the built-in Functions of List Data Type
# The functions with underscore are fixed and cannot be changed, function without underscore can be used to perform operations

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Functions available in List Data Structure:**

**Append** - Adding an element in the dataset

**Clear** - Removing all the elements in the dataset

**Copy** - Helps in copying the dataset and storing it in another value

**Count** - Counting the no.of given element inside the dataset

**Extend** - Extends a dataset by  elements from another dataset

**Index** - To check the position of the element in the dataset (First Occurence)

**Insert** -Adding an element in the desired position

**Pop** - Removes the last element or the element in the given position

**Remove** - Removes the First Occurence of the given element

**Reverse** - Helps in reversing the order of elements in a dataset

**Sort** - Arranges the elements in the dataset (Ascending order)

In [ ]:
a = [1,2,3,4,5,6,1]
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 1, 7]

In [ ]:
a1 = a.copy()
print(a1)

[1, 2, 3, 4, 5, 6, 1, 7]

In [ ]:
a1.clear()
print(a1)

[]

In [ ]:
a.count(1)

2

In [ ]:
b=[8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 1, 7, 8, 9, 10]

In [ ]:
a.index(1) # first occurence of the given element

0

In [ ]:
a.insert(4,5) #(position of the element, Value of the element)
print(a)

[1, 2, 3, 4, 5, 5, 6, 1, 7, 8, 9, 10]

In [ ]:
a.pop() # removes the last element
print(a)

[1, 2, 3, 4, 5, 5, 6, 1, 7, 8, 9]

In [ ]:
a.pop(4) # removes the element of the mentioned index
print(a)

[1, 2, 3, 4, 5, 6, 1, 7, 8, 9]

In [ ]:
a.remove(1) # removes the given element
print(a)

[2, 3, 4, 5, 6, 1, 7, 8, 9]

In [ ]:
a.reverse() # reverses the order
print(a)

[9, 8, 7, 1, 6, 5, 4, 3, 2]

In [ ]:
a.sort() # sorts the list of elements in ascending order
print(a) # only sorts the same data types

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
dir(set)# Shows the built-in Functions of Set Data Type
# The functions with underscore are fixed and cannot be changed, function without underscore can be used to perform operations

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Functions available in Set Data Structure:**

**add** - Adds an element to the dataset

**clear** - Clears the dataset completely

**copy** - Copies the  dataset completely

**difference** - Gives elements that are not common in both sets

**difference_update** - Removes same elements from the dataset and returns the updated dataset

**discard** - Removes the mentioned element in the dataset

**intersection** - Gives the common elements in both sets

**intersection_update** - Removes different elements from the dataset and returns the updated dataset

**isdisjoint** - Will check both datasets for common elements and returns True or False

**issubset** - Will check if the dataset-1 is a subset of dataset-2 and returns True or False

**issuperset** - Will check if the dataset-1 is the original set of dataset-2 and returns True or False

**pop** - Removes an random element in the dataset

**remove** - Removes the mentioned element in the dataset

**symmetric_difference** - Will remove similar elements from both datasets and gives the distinct elements

**symmetric_difference_update** - Will remove similar elements from both datasets and updates the original dataset with distinct elements

**union** - Will join all the elements in both the datasets and returns without duplicate elements

**update** - Will add distinct elements of set1 to set2

In [46]:
a={'Syed',25,'Chennai','Guvi','DS-T-B47'}
print(a)

{'Chennai', 'Syed', 'Guvi', 'DS-T-B47', 25}

In [47]:
a.add('DataScience') # Adds an element to the dataset
print(a)

{'Chennai', 'Syed', 'Guvi', 'DS-T-B47', 'DataScience', 25}

In [62]:
a1={'Syed',25,'Chennai','Guvi','DS-T-B47'}
print(a1)

{'Chennai', 'Syed', 'Guvi', 'DS-T-B47', 25}

In [63]:
a1.clear() # Clears the dataset completely
print(a1)

set()

In [64]:
a1=a.copy() # Copies the dataset completely
print(a1)

{'Chennai', 'Syed', 'Guvi', 'DS-T-B47', 'DataScience', 25}

In [65]:
a1.pop() # removes an random element in the dataset
print(a1)

{'Syed', 'Guvi', 'DS-T-B47', 'DataScience', 25}

In [66]:
a1.remove(25) # removes the mentioned element in the dataset
print(a1)

{'Syed', 'Guvi', 'DS-T-B47', 'DataScience'}

In [67]:
a1.discard('DataScience') # removes the mentioned element in the dataset
print(a1)

{'Syed', 'Guvi', 'DS-T-B47'}

In [68]:
print(a)
print(a1)

{'Chennai', 'Syed', 'Guvi', 'DS-T-B47', 'DataScience', 25}
{'Syed', 'Guvi', 'DS-T-B47'}

In [69]:
a1.difference(a)

set()

In [70]:
a.difference(a1) # Gives the elements that are not common in both datasets

{25, 'Chennai', 'DataScience'}

In [71]:
a1.intersection(a)

{'DS-T-B47', 'Guvi', 'Syed'}

In [72]:
a.intersection(a1) # Gives the common elements in both datasets

{'DS-T-B47', 'Guvi', 'Syed'}

In [73]:
a1.union(a)

{25, 'Chennai', 'DS-T-B47', 'DataScience', 'Guvi', 'Syed'}

In [74]:
a.union(a1) # Will join all the elements in both the datasets and returns all the elements without duplicate elements

{25, 'Chennai', 'DS-T-B47', 'DataScience', 'Guvi', 'Syed'}

In [75]:
a1.update(a) # Will add distinct elements of set1 to set2
print(a1)

{'Syed', 'DS-T-B47', 'DataScience', 'Chennai', 'Guvi', 25}

In [81]:
b={1,2,3,4}
b1={3,4,5,6}
b1.difference_update(b)
print(b1)

{5, 6}

In [82]:
b={1,2,3,4}
b1={3,4,5,6}
b.difference_update(b1) # removes same elements from the dataset and returns the updated dataset of different elements
print(b)

{1, 2}

In [83]:
b={1,2,3,4}
b1={3,4,5,6}
b1.intersection_update(b)
print(b1)

{3, 4}

In [84]:
b={1,2,3,4}
b1={3,4,5,6}
b.intersection_update(b1) # removes different elements from the dataset and returns the updated dataset of common elements
print(b)

{3, 4}

In [91]:
b={1,2,3,4}
b1={3,4,5,6}
b1.isdisjoint(b)

False

In [96]:
b={1,2,3,4} # will check for common elements and returns 'True' or 'False'
b1={5,6,7,8} # " True - No common elements available " ; " False - Common elements available"
b.isdisjoint(b1)

True

In [97]:
b={1,2,3,4}
b1={3,4}
b1.issubset(b)

True

In [95]:
b={1,2,3,4} # Will check if the dataset-1 is a subset of dataset-2 and returns True or False
b1={3,4}
b.issubset(b1)

False

In [98]:
b={1,2,3,4}
b1={3,4}
b1.issuperset(b)

False

In [99]:
b={1,2,3,4} # Will check if the dataset-1 is the original set of dataset-2 and returns True or False
b1={3,4}
b.issuperset(b1)

True

In [100]:
b={1,2,3,4}
b1={3,4,5,6}
b1.symmetric_difference(b)

{1, 2, 5, 6}

In [102]:
b={1,2,3,4}
b1={3,4,5,6} # Will remove similar elements from both datasets and gives the distinct elements
b.symmetric_difference(b1)

{1, 2, 5, 6}

In [105]:
b={1,2,3,4}
b1={3,4,5,6}
b1.symmetric_difference_update(b)
print(b1)

{1, 2, 5, 6}

In [106]:
b={1,2,3,4}
b1={3,4,5,6} # Will remove similar elements from both datasets and updates the original dataset with distinct elements
b.symmetric_difference_update(b1)
print(b)

{1, 2, 5, 6}

In [ ]:
dir(dict)# Shows the built-in Functions of Dictionary Data Type
# The functions with underscore are fixed and cannot be changed, function without underscore can be used to perform operations

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**Functions available in Dictionary Data Structure:**

**clear** - Clears the dataset completely

**copy** - Copies the dataset compeletely

**fromkeys** - Creates new dictionary with specified keys and values

**get** - Returns the value of the specified key

**items** - Returns the list of key, value pair in the whole dictionary

**keys** - Returns the list of key in the whole dictionary

**pop** - Removes the mentioned key, value pair

**popitem** - Removes the last key, value pair

**setdefault** - Returns the value associated with the specified key. If the key does not exist, it inserts the key with the specified value and returns the value.

**update** - Updates the dictionary with elements from another dictionary

**values** - Returns the list of values in the whole dictionary

Dictionary {key:value}

*   Key names should be unique
*   Values can be same

In [ ]:
a = {'name' : 'Syed', 'age' : 25, 'location' : 'Chennai'}
print(a)

{'name': 'Syed', 'age': 25, 'location': 'Chennai'}

In [ ]:
a['name'] # Values can be accessed using the key names

'Syed'

In [ ]:
syed = {'friends':{'first':{'name1':'sanjay','mobile1':785469},'second':{'name2':'vijay','mobile2':654321},'third':{'name3':'gokul','mobile3':789321}}}
print(syed)

{'friends': {'first': {'name1': 'sanjay', 'mobile1': 785469}, 'second': {'name2': 'vijay', 'mobile2': 654321}, 'third': {'name3': 'gokul', 'mobile3': 789321}}}

In [ ]:
# Access the mobile number of my second friend
syed['friends']['second']['mobile2']

654321

In [ ]:
a1=a.copy() # copies the dataset and move it
print(a1)

{'name': 'Syed', 'age': 25, 'location': 'Chennai'}

In [ ]:
a1.clear() # removes all the elements in the dataset
print(a1)

{}

In [ ]:
keys = ('a','b') # creates a new dictionary with the specified keys and values
values = (1,2,3)
a1 = dict.fromkeys(keys,values)
print(a1)

{'a': (1, 2, 3), 'b': (1, 2, 3)}

In [ ]:
a

{'name': 'Syed', 'age': 25, 'location': 'Chennai'}

In [ ]:
a.get('name') # returns the value of the specified key

'Syed'

In [ ]:
a.items() # Will return the list of key, value pair in the whole dictionary

dict_items([('name', 'Syed'), ('age', 25), ('location', 'Chennai')])

In [ ]:
a.keys()  # Will return the list of key names in the whole dictionary

dict_keys(['name', 'age', 'location'])

In [ ]:
a.values() # Will return the list of values in the whole dictionary

dict_values(['Syed', 25, 'Chennai'])

In [ ]:
a.pop('location') # removes the element of the mentioned key:value pair
a

{'name': 'Syed', 'age': 25}

In [ ]:
a.popitem() #removes the last element
a

{'name': 'Syed'}

In [ ]:
a.setdefault('age',25,)
print(a)  # returns the value associated with the specified key. If the key does not exist, it inserts the key with the specified value and returns the value.

{'name': 'Syed', 'age': 25}

In [ ]:
a1 = {'name':'Syed_ahammed', 'location':'Chennai'}
print(a1)
print(a)

{'name': 'Syed_ahammed', 'location': 'Chennai'}
{'name': 'Syed', 'age': 25}

In [ ]:
a.update(a1) # updates the dictionary with the elements from another dictionary
print(a)

{'name': 'Syed_ahammed', 'age': 25, 'location': 'Chennai'}

# New Section